[submodule "lib/chibios"]
	path = lib/chibios
	url = https://github.com/qmk/ChibiOS
	branch = master
[submodule "lib/chibios-contrib"]
	path = lib/chibios-contrib
	url = https://github.com/qmk/ChibiOS-Contrib
	branch = master
[submodule "lib/googletest"]
	path = lib/googletest
	url = https://github.com/qmk/googletest
[submodule "lib/lufa"]
	path = lib/lufa
	url = https://github.com/qmk/lufa
[submodule "lib/vusb"]
	path = lib/vusb
	url = https://github.com/qmk/v-usb
[submodule "lib/printf"]
	path = lib/printf
	url = https://github.com/qmk/printf
[submodule "tmk_core/protocol/usb_hid/USB_Host_Shield_2.0-tmk"]
	path = tmk_core/protocol/usb_hid/USB_Host_Shield_2.0-tmk
	url = https://github.com/tmk/USB_Host_Shield_2.0.git
[submodule "tmk_core/protocol/lufa/lufa-abcminiuser"]
	path = tmk_core/protocol/lufa/lufa-abcminiuser
	url = https://github.com/abcminiuser/lufa.git
